#ctn-submission{
    border-style: solid;
    border-color: var(--color-dark);
    background-color: rgb(245, 245, 245);
    border-width: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(214, 214, 214);
    padding: 10px;

}