

#submission-title{
    padding-left: 5px;
    color: var(--color-dark);
}

#ctn-submission-header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#submission-btn-ignore{
    font-size: 30pt;
    padding: 0;
    margin-bottom: calc(var(--font-p) * -.3);
}



#ctn-submission pre{
    margin-bottom: 0;
}

#ctn-submission pre{
    box-shadow: 8px 8px 8px rgb(212, 212, 212);

}