#ctn-submissions{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

#ctn-submissions-ignored{
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    margin-top: 40px;
}